body {font-family :arial,sans-serif,'Franklin Gothic Medium', 'Arial Narrow';
   text-align: center;
}  body{
  background:linear-gradient(to top,skyblue,#42445A);
  color: #000; 
  transition:0.4s;
} body.dark {
  background: linear-gradient(to left, #ffffff,#d7d2cc);
  color:white;
}
img {
  height:230px;
  border: 2px solid black;
  border-radius:12px;
  align-items: center;
} .skill-con {
  border: 2px solid black ;
  padding:7px;
  margin:12px auto;
  border-radius:12px;
  overflow:hidden;
  width:90%;
} .skill-bar{
  text-align:right;
  padding-right:10px;
  height:24px;
  line-height:20px;
  transition:width 1s ease;
  border-radius:12px 0 0 12px;
  color:white;
  font-size:17px;
  width:0;
  background:linear-gradient(45deg, skyblue,#0A3C11B8);
  color:black;
} .projects .card {
  border:2px solid black ;
  border-radius:12px;
  padding:32px 25px;
  margin:12px;
  width:80%;
  background:linear-gradient(45deg,#8e9eab,#eef2f3);
  line-height:9px;
  box-shadow:0 5px 15px;
  align-content:center;
  align-items:center;
  justify-content:center;
  } .card:hover{
    transform:scale(1.05);
    box-shadow:0 10px 18px;
  } body.dark .card {
    background:linear-gradient(to left,#1e130c,#9a8478);
  }
  h1 {font-size:32px}
  #btn{
    border:2px solid black;
    border-radius:12px;
    cursor:pointer;
    background:linear-gradient(45deg,#abb,#ffffff);
    padding:12px 20px;
    margin:16px;
    
  } #btn:hover {
    transform:scale(1.05);
    box-shadow:0 5px 15px;
  } .popup{
      display:none;
     position:fixed;
     top:0;
     text-align:center;
     left:0;
     width:100%;
     height:100%;
     background:rgba(0,0,0,0.6);}
    .popup-box {
      background:linear-gradient(45deg,#ADA996,#F2F2F2,#DBDBDB,#EAEAEA);
        color:#000000;
        width:80%;
        max-width:300px;
        position:relative;
        padding:20px;
        margin:120px auto;
        border-radius:18px;
        padding-bottom:100px;
        text-align:center;
        box-shadow:0 5px 15px black;
        border:3px solid black;
    } #closeBtn{
      position:absolute;
      top:10px;
      right:15px;
      cursor:pointer;
      font-size:18px;
    } .card{
      cursor:pointer;
    } div #popupTech {
      border:2px solid black;
      border-radius:18px;
      padding:12px 0;
      margin:12px;
    }
.card.active{
  outline:3px solid yellow;
  transform:scale(1.05);
}